<div class="ui fluid card api-group">
    <div class="content">
        <div class="header" style="text-transform: capitalize;">
            {{name}}
        </div>
    </div>
    <div class="content">
        <p>{{description}}</p>
        <div class="endpoint"></div>
        {{#each paths}}
        {{/each}}
    </div>
</div>