<div class="ui fluid card api-group">
    <div class="content group-header">
        <div class="header" style="text-transform: capitalize;">
            {{name}}
        </div>
    </div>
    <div class="content group-content">
        <p>{{description}}</p>
        <div class="endpoint"></div>
    </div>
</div>