<div class="ui raised segments">
{{#each this}}
    <div class="ui fluid card">
        <div class="content">
            <div class="header" style="text-transform: capitalize;">
                {{name}}
            </div>
        </div>
        <div class="content">
            <p>{{description}}</p>
            {{#each paths}}
                {{> api-endpoint}}
            {{/each}}
        </div>
    </div>
{{/each}}
</div>